/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #011627;
  --dkblue: #2a5c6a;
  --dkrose: #613e51;
  --avocado: #81a649;
  --hotrose: #9965cc;
  --rose: #f396a1;
  --aqua: #00ced1;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Fira code", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--rose);
}

a:hover {
  color: var(--aqua);
  text-decoration: none;
}

img {
  width: 100%;
}

/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0.1) 50%,
      transparent 0
    )
    top / 100% 5em;
}

#intro p {
  font-size: 1rem;
  line-height: 1.3;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--hotrose);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* contact section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

.contact-bg {
  background-color: var(--dkrose);
}

.projects-bg {
  background-color: var(--dkblue);
}

.gradient-separator {
  background: linear-gradient(90deg, var(--rose) 0%, var(--hotrose) 90%);

  height: 2px;
}

/* navigation */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--rose);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--aqua);
}
.button {
  background-color: var(--avocado);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: var(--rose);
}
/* footer section */
footer {
  text-align: center;
  padding: 4rem 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

/*projects section */
#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

.black-box {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
  #contact {
    width: 700px;
  }

  #intro {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 3.5em);
    padding: 3.5rem 1rem 1rem 1rem;
    position: relative;
  }

  #intro .name {
    grid-column: 1/8;
    grid-row: 1/3;
    margin-bottom: 0;
  }
  #intro .name span {
    font-size: 3.5rem;
  }

  #intro h2 {
    max-width: 750px;
    grid-column: 1/11;
    grid-row: 3/6;
    font-size: 3rem;
    line-height: 1.1;
  }

  #intro p {
    font-size: 1.1rem;
  }

  @keyframes roll {
    from {
      --angle: 30deg;
    }
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    type: "<angle>";
    inherit: true;
    initial-value: 90deg;
  }

  .intro-description {
    background-color: var(--black);
    box-shadow: 1px 3px 8px var(--aqua);
    border: 5px solid;
    border-image-slice: 1;
    --angle: 90deg;
    border-image-source: linear-gradient(
      var(--angle),
      var(--hotrose),
      var(--rose)
    );
    padding: 2rem;
    max-width: 320px;
    grid-column: 9/13;
    grid-row: 3/7;
  }

  .intro-description:hover {
    animation: roll 2s alternate infinite ease-in-out;
  }

  .intro-description::before {
    content: "";
    position: absolute;
    top: 8rem;
    bottom: 18rem;
    width: 5px;
    right: 8rem;
    background-image: linear-gradient(var(--rose), var(--hotrose));
    z-index: -1;
  }

  .intro-description::after {
    content: "";
    position: absolute;
    top: 7.25rem;
    right: 7.25rem;
    width: 30px;
    height: 30px;
    background: var(--white);
    border-radius: 30px;
    border: 4px solid var(--rose);
  }
}
